html,
body {
  margin: 0;
  padding: 0;
}
.round-button {
  border-radius: 50%;
  padding: 0.5em;
  width: 25px;
  height: 25px;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  background-color: gray;
  font-size: 0.7em;
  color: white;
  position: relative;
}

.container {
  width: min(100vw, 500px);
}

.scoreboard-player-name {
  margin-right: 10px;
  display: inline-block;
  width: 50px;
}

.grid-container {
  display: grid;
  width: auto;
  grid-template-columns: 2fr 1fr;
  color: #fff;
}

.grid-col > div:nth-child(even) {
  background: rgba(66, 65, 65, 0.5);
}

.grid-item {
  height: 30px;
  background: #000;
  padding: 10px;
}

.input-numerical {
  width: 30px;
}

.input-bool {
  vertical-align: middle;
  margin-left: 10px;
}

.button-submit-round {
  float: right;
}
